*.log
.htaccess
sitemap.xml
sitemap.xml.gz
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php

# A WooCommerce Gitignore

project.xml
project.properties
/nbproject/private/
.buildpath
.project
.settings*
sftp-config.json
.idea

# Grunt
/node_modules/
/deploy/

# Sass
.sass-cache/

# OS X metadata
.DS_Store

# Windows junk
Thumbs.db

# ApiGen
/wc-apidocs/

# Unit tests
/tmp

# Logs
/logs
